Source: libmodbusepsi
Priority: optional
Maintainer: Pascal Jean (epsilonrt) <epsilonrt@gmail.com>
Uploaders: Pascal Jean (epsilonrt) <epsilonrt@gmail.com>
Standards-Version: 4.2.1
Section: libs
Build-Depends: debhelper (>= 11), asciidoc, xmlto, psmisc
Homepage: http://libmodbus.org/
Vcs-Git: https://github.com/epsilonrt/libmodbus.git
Vcs-Browser: https://github.com/epsilonrt/libmodbus

Package: libmodbusepsi5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libmodbus5
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: library for the Modbus protocol (epsilonrt version)
 A Modbus library written in C, to send/receive data with a device which
 respects the Modbus protocol. This library can use a serial port or an
 Ethernet connection.
 .
 This package contains the shared library.

Package: libmodbusepsi-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libmodbusepsi5 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Replaces: libmodbus-dev
Description: development files for the Modbus protocol library (epsilonrt version)
 A Modbus library written in C, to send/receive data with a device which
 respects the Modbus protocol. This library can use a serial port or an
 Ethernet connection.
 .
 This package contains the development files.
